@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Display:wght@100;200;300&family=Montserrat:wght@300;400&family=Poiret+One&family=Rock+Salt&family=Sacramento&display=swap');

/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.body {
    background: url("images/whit-background-loves.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

.align-right {
    text-align: right;
}

.img-banner-one {
    background: url("images/trial-c.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(.4);
}

.img-banner-two {
    background: url("images/trial-c.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(.4);
}

.work-img-banner {
    background: url("images/trial-b.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(.4);
}

/* Header & Nav Styling */
.header {
   background-color: #F2F2F2; 
   padding: 0px 10px;
   font-family: 'Montserrat', sans-serif;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 1;
}

.home-a {
    text-decoration: none;
    color:#8C0368;
}

.home-a:hover {
    color: #262223;
}

.logo {
    font-weight: bold;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    padding: 15px 15px 10px 20px;
    margin-right: 640px;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
}

nav a {
    text-decoration: none;
    color: #8C0368;
}

nav a:hover {
   color:  #262223;
}

nav li {
    display: inline-block;
    list-style-type: none;
    font-size: 18px;
    margin: 30px 45px;
}


/* Main Styling */
.main-title-block {
    padding: 240px 15px;
    color: #8C0368;
    background: #CCCCCC;
}

.main-name {
    font-family: 'Poiret One', cursive;
    letter-spacing: .5rem;
    font-size: 210px;
    text-align: center;
    font-weight: bold;
    color: #000;
}

.main-tag {
    text-align: center;
    font-family:'Bit Shoulders Display', sans-serif;
    padding-top: 50px;;
    color: #F2F2F2;
}

.main-content {
    background-color: #26222370;
    color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    padding: 40px 20px;
}

.main-sub-header {
    padding: 50px;
    font-size: 46px;
    text-align: right;
    color:#F2F2F2;
}

.main-text {
    padding: 10px 80px;
    text-align: left;
    font-size: 18px;
}

.main-content-two {
    font-family: 'Montserrat', sans-serif;
    padding: 40px 20px;
    margin-bottom: 40px;
}

#about {
    padding: 40px 20px 180px 20px;
}


/* Endorsements */
.endorse-head {
    color: #262223;
    margin-bottom: 10px;
}

.endorse-banner {
    margin: 0px 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 50px;
    color: #262223;
}

.endorse-container {
    background: #F2F2F230;
    width: 250px;
    height: 400px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    border-radius: 20px;
}

.endorse-container::-webkit-scrollbar {
    display: none;
}

.endorse-name {
    padding: 10px;
    font-size: 18px;
    text-align: right;
}

.endorsement {
    text-align: left;
}


/* Work Page */
.work-name {
    font-family: 'Poiret One', cursive;
    letter-spacing: .5rem;
    font-size: 210px;
    text-align: center;
    font-weight: bold;
    color: #000;
    padding: 60px 15px;
    background: #CCCCCC;
}

.work-a {
    padding: 35px;
    color: #F2F2F2;
    text-align: center;
}

.work-content {
    background-color: #26222350;
    color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    padding: 100px 20px;
}

.work-container {
    display: flex;
    flex: 50;
    justify-content: space-between;
    margin: 0px 120px;
}

.work-img {
    border-radius: 10px;
    box-shadow: 2px 2px 6px gray;
}

.w-title {
    font-size: 24px;
    margin-bottom: 40px;
    text-decoration: underline;
    font-weight: normal;
}

.work-words {
    display: flex;
    align-content: center;
}

.no-back {
    background: none;
    color: #262223; 
}

.work-foot {
    text-align: right;
    padding: 150px 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

button {
    background: #8C0368;
    border:none;
    box-shadow: 4px 4px 6px gray;
    font-size: 18px;
    border-radius: 15px;
    padding:8px 35px;
    margin: 60px 0px 20px 0px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: #F2F2F2;
}

/* Footer Styling */
.footer {
    background-color: #262223; 
    padding: 10px 0px;
    color: #F2F2F2;
    font-family: 'Sacramento', cursive;
    text-align: center;
}



/* FORM Styling */

.required-red {
    color: #8C0368;
}

.form-spacing {
    margin: 20px;
}

.form-wrapper {
    display: flex;
    justify-content: flex-end;
}

form {
    margin: 60px 40px;
    margin-right: 120px;
    border: 2px solid #26222390;
    width: 400px;
    background: #F2F2F280;
    border-radius: 10px;
}

label {
    color: #262223;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

input {
    width: 350px;
    background: #26222340;
    border-radius: 5px;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}


textarea {
    padding: 5px;
    outline: none;
    width: 350px;
    height: 150px;
    background: #26222340;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-button {
    background: #8C0368;
    border:none;
    box-shadow: 4px 4px 6px gray;
    font-size: 18px;
    border-radius: 15px;
    padding:8px 35px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: #F2F2F2;
}

.contact-img {
    margin: 90px 260px;
    border-radius: 10px;
    filter: grayscale(.2);
    -webkit-box-shadow: 5px 3px 14px 1px rgba(0,0,0,0.42); 
    box-shadow: 5px 3px 14px 1px rgba(0,0,0,0.42);
}

.mobile-only {
    display: none;
}



/* RESPONSIVE DESIGN */
@media screen and (max-width: 1200px ){
    .logo {
        margin-right: 400px;
    }

}


@media screen and (max-width: 800px ){
    .contact-img {
        visibility: hidden;
    }

    .logo {
        margin-right: 0px;
    }

    .mobile-only {
        margin-right: 0px;
        display: inline-block;
    }

    .desktop-only {
        display: none;
    }

    .img-banner-one,
    .img-banner-two {
        display: none;
    }

    .main-title-block {
        padding: 140px 15px;
    }

    .main-name,
    .work-name {
        font-size: 80px;
    }

    .main-tag {
        font-size: 16px;
    }

    .main-sub-header {
        font-size: 36px;
    }

    .main-text {
        font-size: 16px;
    }

    .work-container {
        flex-flow: row wrap;
    }

    .work-img {
        width: 200px;
        height: auto;
    }


} 

@media screen and (max-width: 400px ){
    .work-img {
        width: 100px;
        height: auto;
    }

    .work-container {
        margin: 0px 20px;
    }
    
    .main-text {
        padding: 10px 20px;
    }

    .form-wrapper {
        display: block;
        width: 75%;
    }

    .contact-img {
        display: none;
    }

    .endorse-banner {
        margin: 0px;
    }

}